@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Karla:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Fugaz One';
    font-weight: 400;
    box-sizing: border-box;
}

body {
    background-color: #393843;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}

.container {
    width: 260px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.level {
    height: 65px;
    width: 65px;
    background-color: #393843;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button {
    height: 130px;
    width: 130px;
    cursor: pointer;
    border: none;
}



.container button:active {
   transform: translateY(4px);
   border: 2px solid white;
}

.green {
    background-color: green;
    border-top-left-radius: 1000px;
}

.red {
    background-color: red;
    border-top-right-radius: 1000px;
}

.blue {
    background-color: cornflowerblue;
    border-bottom-left-radius: 1000px;
}

.yellow {
    background-color: yellow;
    border-bottom-right-radius: 1000px;
}

.green.glow {
    box-shadow: -20px -16px 28px 16px rgb(36, 255, 36);
}

.red.glow {
    box-shadow: 20px -16px 28px 16px rgb(255, 77, 77);
}

.blue.glow {
    box-shadow: -20px 16px 28px 16px rgb(144, 183, 255);
}

.yellow.glow {
    box-shadow: 20px 16px 28px 16px rgb(255, 255, 116);
}